.form-slide-enter {
  opacity: 0;
  transform: translateX(100%);
}
.form-slide-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: all 300ms ease-in-out;
}
.form-slide-exit {
  opacity: 1;
  transform: translateX(0);
}
.form-slide-exit-active {
  opacity: 0;
  transform: translateX(-100%);
  transition: all 300ms ease-in-out;
}
